<div id="profile_page">

<img id="profile_image" src="<%=locals.currentUser.profileImage%>">
<h3><%= locals.currentUser.firstName%></h3>

  <form id='userphoto' action="/upload/userphoto" method="POST" enctype="multipart/form-data">
    <label>Change user photo</label>
    <div>
      <input type="file" name='image'>
      <input type="submit">
    </div>
  </form>

  <br>

<button id="post_button"><a href = "/profile/<%=locals.currentUser.id%>/newpost">Sell Something</a></button>
<br>
<h3>Your Listings</h3>

<div id="card_container">
<% product.forEach(item=>{ %>
  <a href = "/products/<%= item.id%>">
    <div class="card" style="width: 250px" >
      <img class="card-img-top" src="<%=item.productImage%>" alt="Card image cap" width="250px" height="250px">
      <div class="card-body">
        <p><b><%=item.title%></b></p>
        <a href="/products/<%=item._id%>/edit">Edit</a>
        <form action="/product/<%=item._id%>/delete?_method=DELETE" method="POST"><button>Delete</button></form>

        <!-- a -> <form> href -> action method=post  -->
      </div>
    </div>
  </a>
  <% }) %>
</div>
  


</div>
