<div id="profile_page">

    <img id="profile_image" src="<%=user.profileImage%>">
    <h3><%= user.firstName%></h3>
    Send a message<a href="mailto:<%=user.emailAddress%>"><h5><%=user.emailAddress%></h5></a>.<br>
    
    
      <br>
    
    <br>
    <h3><%=user.firstName%>'s Listings</h3>
    
    <div id="card_container">
    <% products.forEach(item=>{ %>
      <a href = "/products/<%= item._id%>">
        <div class="card" style="width: 250px" >
          <img class="card-img-top" src="<%=item.productImage%>" alt="Card image cap" width="250px" height="250px">
          <div class="card-body">
            <p><b><%=item.title%></b></p>
            
            
          </div>
        </div>
      </a>
      <% }) %>
    </div>
      
    
    
    </div>
    